/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
node_modules
public/statics/assets/*
public/statics/auth_static/*
public/statics/browse_static/*
public/statics/company_static/*
public/statics/employer_static/*
public/statics/user_static/*
public/statics/cv_static/*




